################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfDemo/bin/Debug
/.vs/WpfDemo/v15/Server/sqlite3
/.vs/WpfDemo/v15
/WpfDemo/obj/Debug
/.vs/config
/.vs/WpfDemo/v16
